<div class="change-password">
    {{{asideNavigation}}}
    <form class="change-password__info">
        {{{avatar}}}
        <div class="change-password__inputs">
            {{{oldPasswordInput}}}
            {{{newPasswordInput}}}
            {{{repeatPasswordInput}}}
        </div>
        {{{saveButton}}}
    </form>
</div>
