<div class="changePassword">
    {{{asideNavigation}}}
    <form class="changePassword__info">
        {{{avatar}}}
        <div class="changePassword__inputs">
            {{{oldPasswordInput}}}
            {{{newPasswordInput}}}
            {{{repeatPasswordInput}}}
        </div>
        {{{saveButton}}}
    </form>
</div>
