<div class="changePassword">
    <div class="changePassword__sidebar">
        {{!-- <a href="../chats/chats.hbs">
            <button class="changePassword__sidebar_back-button">
                <img class="changePassword__sidebar_back-icon" src="../../../static/icons/send-arrow.svg" alt="back to chats" />
            </button>
        </a> --}}
    </div>
    <form class="changePassword__info">
        {{{avatar}}}
        <div class="changePassword__inputs">
            {{{oldPasswordInput}}}
            {{{newPasswordInput}}}
            {{{repeatPasswordInput}}}
        </div>
        {{{saveButton}}}
    </form>
</div>
