<div class="profile">
    {{{asideNavigation}}}
    <div class="profile__info">
        {{{avatar}}}
        <h2 class="profile__name">{{name}}</h2> 
        <div class="profile__inputs">
            {{#each inputs}}
                {{{this}}}
            {{/each}}
        </div>
        <div class="profile__links">
            {{{changeInfoButton}}}
            {{{changePasswordButton}}}
            {{{signOutButton}}}
        </div>
    </div>

    {{{errorToaster}}}
</div>
