<div class="profile">
    <div class="profile__sidebar">
        {{!-- <a href="../chats/chats.hbs">
            <button class="profile__sidebar_back-button">
                <img class="profile__sidebar_back-icon" src="../../../static/icons/send-arrow.svg" alt="back to chats" />
            </button>
        </a> --}}
    </div>
    <div class="profile__info">
        {{!-- <div class="profile__image-wrap">
            <img class="profile__image" id="avatar" src="../../../static/icons/samoyed.png" alt="profile photo" />
            <p class="profile__image-text">Загрузить фото</p>
        </div>
        <h2 class="profile__name">{{INPUT_VALUES.firstName}}</h2> --}}
        <div class="profile__inputs">
            {{{emailInput}}}
            {{{loginInput}}}
            {{{firstNameInput}}}
            {{{secondNameInput}}}
            {{{displayNameInput}}}
            {{{phoneInput}}}
        </div>
        <div class="profile__links">
            {{{changeInfoButton}}}
            {{{changePasswordButton}}}
            {{{signOutButton}}}
        </div>
    </div>
</div>
