<form class="sign-in">
    <h1>Регистрация</h1>
    <div class="sign-in__inputs">
        {{{emailInput}}}
        {{{loginInput}}}
        {{{firstNameInput}}}
        {{{secondNameInput}}}
        {{{phoneInput}}}
        {{{newPasswordInput}}}
        {{{repeatPasswordInput}}}
    </div>
    <div class="sign-in__buttons">
        {{{registerButton}}}
        {{{enterButton}}}
    </div>
</form>
