<div class="chats">
    <div class="chats__sidebar">
        <div class="chats__sidebar_profile-link">{{{profileLink}}}</div>
        {{{searchInput}}}
        {{#if isLoaded }}
            <div class="chats__sidebar_list">
                {{#each chatList}}
                    {{{this}}}
                {{/each}}
            </div>
            <div class="chats__sidebar_create-button">
                {{{buttonWithIcon}}}
            </div>
        {{else}}
            Loading...
        {{/if}}
    </div>
    {{{chatView}}}
    {{{createChatModal}}}
</div>
