<div class="chats">
    <div class="chats__sidebar">
        <div class="chats__sidebar_profile-link">{{{profileLink}}}</div>
        <input class="chats__sidebar_search-input" type="text" placeholder="Поиск" />
        <div class="chats__sidebar_list">
            {{#each chatList}}
                {{{this}}}
            {{/each}}
        </div>
        <div class="chats__sidebar_create-button">
            {{{buttonWithIcon}}}
        </div>
    </div>
    {{{chatView}}}
    {{{createChatModal}}}
</div>
