---
chats: [
    {
        name: 'Иван',
        text: 'Изображение',
        newMessagesCount: '1',
        lastMessageTime: '10:49'
    },
    {
        name: 'Алексей',
        text: 'И Human Interface Guidelines и Material Design рекомендуют...',
        newMessagesCount: '8',
        lastMessageTime: '12:00'
    },
    {
        name: 'Маша',
        text: 'Друзья, у меня для вас особенный выпуск новостей!...',
        newMessagesCount: '10',
        lastMessageTime: 'Ср'
    },
    {
        name: 'Катя',
        text: 'Так увлёкся работой по курсу, что совсем забыл его анонсир...',
        newMessagesCount: '3',
        lastMessageTime: 'Пн'
    },
        {
        name: 'Иван',
        text: 'Изображение',
        newMessagesCount: '5',
        lastMessageTime: '10:49'
    },
    {
        name: 'Алексей',
        text: 'И Human Interface Guidelines и Material Design рекомендуют...',
        newMessagesCount: '5',
        lastMessageTime: '12:00'
    },
    {
        name: 'Маша',
        text: 'Друзья, у меня для вас особенный выпуск новостей!...',
        newMessagesCount: '10',
        lastMessageTime: 'Ср'
    },
    {
        name: 'Катя',
        text: 'Так увлёкся работой по курсу, что совсем забыл его анонсир...',
        newMessagesCount: '3',
        lastMessageTime: 'Пн'
    },
        {
        name: 'Иван',
        text: 'Изображение',
        newMessagesCount: '5',
        lastMessageTime: '10:49'
    },
    {
        name: 'Алексей',
        text: 'И Human Interface Guidelines и Material Design рекомендуют...',
        newMessagesCount: '1',
        lastMessageTime: '12:00'
    },
    {
        name: 'Маша',
        text: 'Друзья, у меня для вас особенный выпуск новостей!...',
        newMessagesCount: '10',
        lastMessageTime: 'Ср'
    },
    {
        name: 'Катя',
        text: 'Так увлёкся работой по курсу, что совсем забыл его анонсир...',
        newMessagesCount: '3',
        lastMessageTime: 'Пн'
    },
        {
        name: 'Иван',
        text: 'Изображение',
        newMessagesCount: '5',
        lastMessageTime: '10:49'
    }
]

message: "Привет! Смотри, тут всплыл интересный кусок лунной космической истории — НАСА в какой-то момент
попросила Хассельблад адаптировать модель SWC для полетов на Луну. Сейчас мы все знаем что астронавты
летали с моделью 500 EL — и к слову говоря, все тушки этих камер все еще находятся на поверхности Луны,
так как астронавты с собой забрали только кассеты с пленкой. Хассельблад в итоге адаптировал SWC для космоса,
но что-то пошло не так и на ракету они так никогда и не попали.
Всего их было произведено 25 штук, одну из них недавно продали на аукционе за 45000 евро."
---

<html>
    <head>
        <link rel="stylesheet" href="../../../index.pcss">
    </head>
    <body>
        <div class="chats">
            <div class="chats__sidebar">
                <a class="chats__sidebar_profile-link" href="../profile/profile.hbs">Профиль ></a>
                <input class="chats__sidebar_search-input" type="text" placeholder="Поиск" />
                <div class="chats__sidebar_list">
                    {{#each chats}}
                    <div class="chats__sidebar_chat">
                        <div class="chats__sidebar_chat-content">
                            <img class="chats__sidebar_chat-image" src="../../../static/icons/samoyed.png" alt="chat photo" />
                            <div class="chats__sidebar_chat-info">
                                <span class="chat__name">{{ this.name }}</span>
                                <span class="chats__sidebar_chat-text">{{ this.text }}</span>
                            </div>
                        </div>
                        <div class="chats__sidebar_chat-data">
                            <span class="chats__sidebar_chat-time">{{ this.lastMessageTime }}</span>
                            <div class="chats__sidebar_chat-count">{{ this.newMessagesCount }}</div>
                        </div>
                    </div>
                    {{/each}}
                </div>
                <button class="chats__sidebar_create-button"><img class="chats__sidebar_create-icon" src="../../../static/icons/pencil.svg" alt="new chat" /></button>
            </div>
            <div class="chat">
                <div class="chat__header">
                    <div class="chat__header_info">
                        <img class="chat__header_image" src="../../../static/icons/samoyed.png" alt="chat photo" />
                        <span class="chat__name">Иван</span>
                    </div>
                    <div class="chat__header_menu">
                        <img class="chat__header_menu-icon" src="../../../static/icons/menu.svg" alt="action menu" />
                        <div class="chat__header_menu-list">
                            <button class="chat__header_menu-item">
                                <img class="chat__header_menu-icon" src="../../../static/icons/add.svg" alt="add user" />
                                Добавить пользователя
                            </button>
                            <button class="chat__header_menu-item">
                                <img class="chat__header_menu-icon" src="../../../static/icons/cancel.svg" alt="delete user" />
                                Удалить пользователя
                            </button>
                            <button class="chat__header_menu-item">
                                <img class="chat__header_menu-icon" src="../../../static/icons/delete.svg" alt="delete chat" />
                                Удалить чат
                            </button>
                        </div>
                    </div>
                </div>
                <div class="chat__window">
                    <span class="chat__window_date">19 июня</span>
                    <span class="chat__window_message chat__window_message-right">
                        Привет!
                        <span class="chat__window_message-left-date">10:29</span>
                    </span>
                    <span class="chat__window_message chat__window_message-left">
                        {{ message }}
                        <span class="chat__window_message-left-date">12:59</span>
                    </span>
                    <span class="chat__window_message">
                        <img class="chat__window_message-image" src="../../../static/icons/hasselblad-swc.jpg" alt="image"/>
                        <span class="chat__window_message-left-date">13:00</span>
                    </span>
                    {{!-- <div class="chat__delete-modal">{{> modal/modal title="Удалить чат" text="Данные невозможно будет восстановить" label="Удалить" color="red" }}</div> --}}
                </div>
                <div class="chat__footer">
                    <img class="chat__footer_upload-icon" src="../../../static/icons/clip.svg" alt="upload" />
                    <input class="chat__footer_message-input" placeholder="Сообщение" />
                    <button class="chat__footer_send-button"><img class="chat__footer_send-icon" src="../../../static/icons/send-arrow.svg" alt="send message" /></button>

                    <div class="chat__footer_menu">
                        <div class="chat__footer_menu-list">
                            <button class="chat__footer_menu-item">
                                <img class="chat__footer_menu-icon" src="../../../static/icons/img-attach.svg" alt="add user" />
                                Фото или видео
                            </button>
                            <button class="chat__footer_menu-item">
                                <img class="chat__footer_menu-icon" src="../../../static/icons/file-attach.svg" alt="delete user" />
                                Файл
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
