<div class="changeInfo">
    <div class="changeInfo__sidebar">
        {{!-- <a href="../chats/chats.hbs">
            <button class="changeInfo__sidebar_back-button">
                <img class="changeInfo__sidebar_back-icon" src="../../../static/icons/send-arrow.svg" alt="back to chats" />
            </button>
        </a> --}}
    </div>
    <div class="changeInfo__info">
        {{{avatar}}}
        <form class="changeInfo__form">
            <div class="changeInfo__inputs">
                {{{emailInput}}}
                {{{loginInput}}}
                {{{firstNameInput}}}
                {{{secondNameInput}}}
                {{{displayNameInput}}}
                {{{phoneInput}}}
            </div>
            {{{saveButton}}}
        </form>
    </div>
</div>
