<div class="change-info">
    {{{asideNavigation}}}
    <div class="change-info__info">
        {{{avatar}}}
        <form class="change-info__form">
            <div class="change-info__inputs">
                {{{emailInput}}}
                {{{loginInput}}}
                {{{firstNameInput}}}
                {{{secondNameInput}}}
                {{{displayNameInput}}}
                {{{phoneInput}}}
            </div>
            {{{saveButton}}}
        </form>
    </div>
    {{{errorToaster}}}
</div>
