<div class="changeInfo">
    {{{asideNavigation}}}
    <div class="changeInfo__info">
        {{{avatar}}}
        <form class="changeInfo__form">
            <div class="changeInfo__inputs">
                {{{emailInput}}}
                {{{loginInput}}}
                {{{firstNameInput}}}
                {{{secondNameInput}}}
                {{{displayNameInput}}}
                {{{phoneInput}}}
            </div>
            {{{saveButton}}}
        </form>
    </div>
</div>
